body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    overflow: hidden;
}

#particles-js {
    height: 100%;
    background-image: url(bkgd.png);
    z-index: -999;
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0%;
    left: 0;
    display: block;
    color: White;
    font-family: 'Source Sans Pro', sans-serif;
}

.spotlt {
    display: block;
    position: fixed;
    width: 9999px;
    height: 9999px;
    z-index: 2;
    background: -webkit-radial-gradient(center center, circle cover, rgba(0, 0, 0, 0.001), rgb(0, 0, 0) 10%);
}

.textcont {
    position: fixed;
    z-index: 700;
    top: 50%;
    margin-top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name {
    color: White;
    font-family: 'Lato', sans-serif;
    font-size: 360%;
    font-weight: 300;
    letter-spacing: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.header {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 180%;
    text-align: center;
}

.links {
    margin-top: 5%;
    letter-spacing: 20px;
}

a,
a:hover {
    color: inherit;
}

.btn {
    border: none;
    /* Remove borders */
    color: white;
    /* White text */
    padding: 10px 10px;
    /* Some padding */
    font-size: 32px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
    position: relative;
}

.btn:hover {
    color: white;
    animation: pulse 1s infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.125);
    }
    50% {
        transform: scale(1.25);
    }
    75% {
        transform: scale(1.125);
    }
    100% {
        transform: scale(1);
    }
}

.btn:focus {
    outline: 0;
    box-shadow: none!important;
}

#popup {
    z-index: 800;
    margin-bottom: -15;
    font-family: 'Lato', sans-serif;
    text-indent: 50px;
    width: 500px;
    overflow: hidden;
}

#popup2 {
    z-index: 800;
    margin-top: -5;
    font-family: 'Lato', sans-serif;
    width: 500px;
    overflow: hidden;
}